.EditNote {
  display: flex;
  flex-direction: column;
}

.EditNote__modal {
  width: 480px;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid var(--neutral-3);
  background-color: var(--neutral-0);
  outline: currentcolor none medium;
  height: max-content;
  padding: 0.75em;
  position: relative;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}

.EditNote__modal__overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba(45, 56, 69, 0.5);
  padding: 25vh 0 0 0;
}

.EditNote__input--title {
  margin: 0 0 1em 0;
  border: none;
  outline: none;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 1.5em 0 0;
}

.EditNote__input--content {
  font-size: 0.875rem;
  border: none;
  outline: none;
  font-family: Inter, sans-serif;
  resize: none;
  width: 100%;
}

.EditNote__date {
  font-size: 0.625rem;
  color: var(--neutral-4);
  margin: 2em 0 0;
  text-align: right;
}

.EditNote__actions {
  position: absolute;
  right: 0.5em;
  top: 0.75em;
  display: flex;
  transition: 0.2s ease opacity;
  justify-content: flex-end;
}

.EditNote__actionButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

.EditNote__actionButton:hover > .EditNote__actionButton__icon {
  color: var(--red);
  transition: 0.3s ease color;
}

.EditNote__actionButton__icon {
  font-size: 1.125rem;
  color: var(--neutral-4);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}
